*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 100px 0 30px;
    /* margin: 0; */
}
#app {
    max-width: 1260px;
    margin: 0 auto;
}
/* @media only screen and (min-width: 1512px) {

} */

