*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 100px 0 30px;
}
#app {
    max-width: 1260px;
    margin: 0 auto;
}
/* ------- タブレットデザイン -------- */
@media screen and (max-width: 768px) {
    #app {
        max-width: 700px;
    }
}
/* ------ スマートフォンデザイン ------ */
@media screen and (max-width: 480px) {
}
